<form action="{% url 'carts:add' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ p.idProducto}}">
    <div class="" style="text-align: center">
        <button type="button" class="btn btn-info d-inline" id="eliminar">-</button>
        <input type="number" value="1" class="form-control col-sm-1 d-inline" style="width : 60px" id="cantidad" name="cantidad" readonly>
        <button type="button" class="btn btn-info d-inline" id="agregar">+</button>
    </div>
    <div class="mt-2" style="text-align: center">
        <button type="submit" class="btn btn-warning">Agregar al carrito</button>
    </div>
</form>

<script>
    
    const agregar = document.getElementById('agregar')
    const eliminar = document.getElementById('eliminar')
    const cantidad = document.getElementById('cantidad')
    
    agregar.addEventListener('click', function () {

        cantidad.value = parseInt(cantidad.value) + 1

    })

    eliminar.addEventListener('click', function () {

        value = parseInt(cantidad.value)

        if (value != 1) {
            value = value - 1
        }

        cantidad.value = value
    })
</script>